<header class="site-header">
  <div class="wrapper">
    <a class="site-title" style="width: 100%;" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape
      }}</a>
    <div class="trigger">
      <a href="https://github.com/LautaroJayat/data-structures-and-algorithms-in-c/watchers">
        <img alt="GitHub watchers"
          src="https://img.shields.io/github/watchers/lautarojayat/data-structures-and-algorithms-in-c?logo=github&style=for-the-badge" />
      </a>
      <a href="https://github.com/LautaroJayat/data-structures-and-algorithms-in-c/stargazers">
        <img alt="GitHub Repo stars"
          src="https://img.shields.io/github/stars/lautarojayat/data-structures-and-algorithms-in-c.svg?logo=github&style=for-the-badge" />
      </a>
    </div>
  </div>
</header>