<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if page.title -%}
        <meta property="og:title" name="custom og title form page" content="{{ page.title | escape }}">
        {% else %}
        <meta property="og:title" name="default og title" content="An overview of data structures and algorithms in C">
    {%- endif -%}
    <meta property="og:description"
        content="Just an overview on data structures an algorithms while playing with the C programming language">
    <meta property="og:image"
        content="https://raw.githubusercontent.com/LautaroJayat/data-structures-and-algorithms-in-c/web/_includes/monke.png">
    <meta property="og:image:secure"
        content="https://raw.githubusercontent.com/LautaroJayat/data-structures-and-algorithms-in-c/web/_includes/monke.png">
    <meta property="og:image:url"
        content="https://raw.githubusercontent.com/LautaroJayat/data-structures-and-algorithms-in-c/web/_includes/monke.png">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%- feed_meta -%}
    <style>
        .highlight .c1, .highlight .c {
            color: #68a410
        }
        .highlight .cp{
            color: #fe00ff
        }
    </style>

</head>