<style>
  .__override-hover:hover {
    text-decoration: none;
  }

  @media screen and (min-width: 1000px) {
    ._override-max-width .wrapper {
      max-width: 950px;
    }
  }
</style>
<header style="border-top: none; border-bottom: none;" class="site-header">
  <div class="wrapper _override-max-width">
    <a class="site-title" style="width: 100%;" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape
      }}</a>
    <div class="trigger">
      <a class="__override-hover" href="https://github.com/LautaroJayat/data-structures-and-algorithms-in-c/watchers">
        <img alt="GitHub watchers"
          src="https://img.shields.io/github/watchers/lautarojayat/data-structures-and-algorithms-in-c?logo=github&style=for-the-badge" />
      </a>
      <a class="__override-hover" href="https://github.com/LautaroJayat/data-structures-and-algorithms-in-c/stargazers">
        <img alt="GitHub Repo stars"
          src="https://img.shields.io/github/stars/lautarojayat/data-structures-and-algorithms-in-c.svg?logo=github&style=for-the-badge" />
      </a>
    </div>
  </div>
</header>